<footer class="bg-black text-white">
    <div class="flex justify-around w-[100rem] mx-auto py-8">
        <div class="text-3xl pt-4">
            <a href="/home">Fashon Shop</a>
        </div>
        <div class="text-xl">
            <h3 class="mb-8">Shop Men</h3>
            <div class="flex flex-col gap-y-2">
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Clothing Fashion</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Winter</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Summer</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Formal</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Casual</a>
            </div>
        </div>
        <div class="text-xl">
            <h3 class="mb-8">Shop Women</h3>
            <div class="flex flex-col gap-y-2">
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Clothing Fashion</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Winter</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Summer</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Formal</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Casual</a>
            </div>
        </div>
        <div class="text-xl">
            <h3 class="mb-8">Baby Collection</h3>
            <div class="flex flex-col gap-y-2">
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Clothing Fashion</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Winter</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Summer</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Formal</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Casual</a>
            </div>
        </div>
        <div class="text-xl">
            <h3 class="mb-8">Quick Links</h3>
            <div class="flex flex-col gap-y-2">
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Clothing Fashion</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Winter</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Summer</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Formal</a>
                <a href="#" class="transition-all duration-500 text-gray-300 hover:text-white hover:underline hover:scale-[1.1]">Casual</a>
            </div>
        </div>
    </div>
</footer>