<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title><%= pageTitle %></title>
  </head>
  <body>

  <header class="navbar-contener">
      <div class="navbar-logo-contener">
        <a href="/home" class="navbar-logo">Fashon Shop</a>
      </div>
      <nav>
        <ul class="navbar-menu">
          <li>
            <a href="/home" class="hover:text-amber-700">Home</a>
          </li>
          <li>
            <a href="/men-clothes" class="hover:text-amber-700">Men</a>
          </li>
          <li>
            <a href="/women-clothes" class="hover:text-amber-700">Women</a>
          </li>
          <li>
            <a href="/baby-collection" class="hover:text-amber-700">Baby Collection</a>
          </li>
          <li>
            <a href="/blog" class="hover:text-amber-700">Blog</a>
          </li>
          <li>
            <a href="/contact-us" class="hover:text-amber-700">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="navbar-icon">
        <div class="w-6 relative">
          <img src="icons/search.svg" alt="search" class="cursor-pointer" id="search-icon">
          <form id="search-input" class="absolute mt-3 hidden z-10">
            <input type="text" class="border-2 w-60 p-1" placeholder="search ...">
          </form>
        </div>
        <div>
          <img src="icons/login.svg" alt="login" class="w-6 cursor-pointer">
        </div>
        <div>
          <a href="/cart-details">
            <img src="icons/shopping-cart.svg" alt="login" id="shop-cart" class="w-6 cursor-pointer">
          </a>
        </div>
      </div>
  </header>
