<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <title><%= pageTitle %></title>
  </head>
  <body>

  <header class="navbar-contener">
      <div class="navbar-logo-contener">
        <a href="/home" class="navbar-logo">Fashon Shop</a>
      </div>
      <nav>
        <ul class="navbar-menu">
          <li>
            <a href="/home" class="hover:text-amber-700">Home</a>
          </li>
          <li>
            <a href="/men-clothes" class="hover:text-amber-700">Men</a>
          </li>
          <li>
            <a href="/women-clothes" class="hover:text-amber-700">Women</a>
          </li>
          <li>
            <a href="/baby-clothes" class="hover:text-amber-700">Baby clothes</a>
          </li>
          <li>
            <a href="/contact-us" class="hover:text-amber-700">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="navbar-icon">
        <div class="w-6 relative">
          <img src="/icons/search.svg" alt="search" class="cursor-pointer" id="search-icon">
          <form id="search-input" class="absolute mt-3 hidden z-10">
            <input type="text" class="border-2 w-60 p-1" placeholder="search ...">
          </form>
        </div>
        <div>
          <% if (!loggin) { %>
            <form action="/login">
              <button type="submit">
                <img src="/icons/log-in.svg" alt="login" class="w-6 cursor-pointer">
              </button>
            </form>
            <% } else { %>
              <form action="/logout">
                <button type="submit">
                  <img src="/icons/log-out.svg" alt="user" class="w-6 cursor-pointer">
                </button>
              </form>
            <% } %>
        </div>
        <% if (loggin) {%>
        <div>
          <a href="/cart-details">
            <img src="/icons/shopping-cart.svg" alt="login" id="shop-cart" class="w-6 cursor-pointer">
          </a>
        </div>
        <% } %>
      </div>
  </header>
